/*=========================================
        TABLET
==========================================*/

@media (max-width:1024px){

    /* Categories */

    .category-grid{
        grid-template-columns:repeat(3,1fr);
    }

    /* Destination Cards */

    .card-grid{
        grid-template-columns:repeat(2,1fr);
    }

    /* Hotels */

    .hotel-grid{
        grid-template-columns:repeat(2,1fr);
    }

    /* States */

    .state-grid{
        grid-template-columns:repeat(2,1fr);
    }

    /* Features */

    .feature-grid{
        grid-template-columns:repeat(2,1fr);
    }

    /* Footer */

    .footer-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

/*=========================================
        MOBILE NAVBAR
==========================================*/

@media(max-width:768px){

.navbar{

    position:relative;

}

.menu-toggle{

    display:block;

}

nav{

    position:absolute;

    top:90px;

    left:0;

    width:100%;

    background:white;

    display:none;

    padding:20px;

    box-shadow:0 10px 20px rgba(0,0,0,.1);

}

nav.active{

    display:block;

}

nav ul{

    flex-direction:column;

    gap:20px;

}

.login-btn{

    display:none;

}

}

/*=========================================
        SMALL MOBILE
==========================================*/

@media (max-width:480px){

    .container{

        width:95%;
    }

    h2{

        font-size:28px;
    }

    .hero h1{

        font-size:30px;
    }

    .category-card{

        padding:20px;

        font-size:32px;
    }

    .newsletter-box{

        padding:35px 20px;
    }

}
